/*------------------------------------------------------------------------------
                     Daily Note Themes inspired by CyanVoxel for Time Garden         
------------------------------------------------------------------------------*/
:root {
  --highlight: #ffffff;
  --primary: #aaaaaa;
  --dark: #333333;
}

.daily {
  --dark: var(--dark);
  --text-normal: var(--highlight);
  --text-muted: var(--highlight);
  --text-faint: var(--highlight);
  --checklist-done-color: var(--highlight);
  --metadata-label-text-color: var(--highlight);
  --metadata-input-text-color: var(--highlight);
  --hr-color: var(--primary);
  --blockquote-border-color: var(--primary);
  --interactive-accent: var(--primary);
  --collapse-icon-color-collapsed: var(--primary);
  --checkbox-color: var(--primary);
  --checkbox-marker-color: var(--dark);
  --checkbox-color-hover: var(--highlight);
  --checkbox-border-color: var(--highlight);
  --list-marker-color: var(--highlight);
  --code-background: black;
  --code-normal: var(--primary);

  --background-modifier-border-focus: var(--primary);
  --background-modifier-border: color-mix(in srgb, var(--highlight) 60%, transparent);
  --background-modifier-hover: color-mix(in srgb, var(--highlight) 60%, transparent);
  --pill-cover-hover: color-mix(in srgb, var(--highlight) 60%, transparent);
}

.sunday, .Sunday {
  --highlight: #e29eff;
  --primary: #8944b4;
  --dark: #3d204d;
}

.monday, .Monday {
  --highlight: #9eceff;
  --primary: #6b9fff;
  --dark: #20344d;
}

.tuesday, .Tuesday {
  --highlight: #9effce;
  --primary: #43a473;
  --dark: #204d3a;
}

.wednesday, .Wednesday {
  --highlight: #ffee9e;
  --primary: #bea04c;
  --dark: #4d4720;
}

.thursday, .Thursday {
  --highlight: #ffb69e;
  --primary: #db7b5b;
  --dark: #4d2e20;
}

.friday, .Friday {
  --highlight: #ff9e9e;
  --primary: #ff6b6b;
  --dark: #4d2020;
}

.saturday, .Saturday {
  --highlight: #ffa6d2;
  --primary: #db5c9c;
  --dark: #4d2038;
}

.daily :is(h1, .HyperMD-header.HyperMD-header-1) {
  color: var(--primary);
  font-size: 47px;
  padding: 0 !important;
}
.daily :is(h2, .HyperMD-header.HyperMD-header-2) {
  color: var(--highlight);
  font-size: 30px;
  font-style: italic;
  padding: 0 !important;
}
.daily :is(h3, .HyperMD-header.HyperMD-header-3) {
  color: var(--primary);

  font-size: 32px;
  padding-top: 0;
}
.daily :is(h4, .HyperMD-header.HyperMD-header-4) {
  background-color: var(--primary);
  color: var(--dark);
  /* border-color: var(--primary); */
  /* font-family: "JetBrainsMono Nerd Font Mono", "JetBrains Mono", monospace; */
  font-weight: 900;
  margin-bottom: 0;
  padding-top: 0;
  font-size: 20px;
  width: fit-content;
  padding-left: 6px;
  padding-right: 6px;
  /* border: solid; */
  border-radius: 8px;
  /* border-width: 2px; */
  word-wrap: normal;
}
.daily p {
  margin-top: 4px;
  margin-bottom: 4px;
}
.daily :is(a:link, .cm-hmd-internal-link) {
  color: var(--primary);
}
.daily :is(a:hover, .cm-hmd-internal-link:hover) {
  color: var(--highlight);
}
.daily hr {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}

.daily img {
  display: block !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

:is(.sunday, .Sunday,
.monday, .Monday,
.tuesday, .Tuesday,
.wednesday, .Wednesday,
.thursday, .Thursday,
.friday, .Friday,
.saturday, .Saturday
  )
  svg {
  color: color-mix(in srgb, var(--highlight) 60%, transparent);
}

/* Target the custom class */
.custom-progress-bar {
  color: white;
  background-color: rgb(from var(--primary) r g b / 0.2);
  border-radius: 5px;
}

.weekly :is(h1, .HyperMD-header.HyperMD-header-1) {
  font-style: italic;
}