/* DAILY NOTES */
.timegarden-daily div.inline-title {
    display: none;
    visibility: hidden;
    opacity: 0;
    position: absolute;
}

/* WEEKLY NOTES */
.timegarden-weekly div.inline-title {
    display: none;
    visibility: hidden;
    opacity: 0;
    position: absolute;
}

/* MONTHLY NOTES */
.timegarden-monthly div.inline-title {
    display: none;
    visibility: hidden;
    opacity: 0;
    position: absolute;
}

/* QUARTERLY NOTES */
.timegarden-quarterly div.inline-title {
    display: none;
    visibility: hidden;
    opacity: 0;
    position: absolute;
}

/* YEARLY NOTES */
.timegarden-yearly div.inline-title {
    display: none;
    visibility: hidden;
    opacity: 0;
    position: absolute;
}